<div class="banner banner-second">      
</div>
{{#each muestra}}
 <!-- relojes -->
    <div class="container">
        <div class="columns">
            <div class="column is-two-fifths-desktop">
                <div class="slider" id="slider">
                    <img id="im" src="/static/img/{{url1}}">
              </div>
         </div>
            <div class="column">
                <h3 class="is-size-4">{{nombre}}</h3>
                
                <h2 class="price is-size-4"><sup>$</sup>{{precio}}</h2>
                <p class="has-text-grey"> <strong>Disponibilidad:</strong>{{estado}}</p>
                <p class="has-text-grey"><strong>Código del producto: #</strong>{{idproducto}}</p>
                <p class="text-default">{{descripcion}}</p>
                <form action="#" class="form-control">
                    <div class="columns is-multiline">
<!-- 
                        <div class="column is-one-third">
                            <label for="color">Color</label>
                            <select class="form-control-field" id="{{idproducto}}" onChange="cambia(this.options[this.selectedIndex].value)">
                                <option value="/static/img/{{url1}}">{{color1}}</option>
                                <option value="/static/img/{{url2}}">{{color2}}</option>
                                <option value="/static/img/{{url3}}">{{color3}}</option>
                            </select>

                        </div>
-->
                        <div class="column is-one-third">
                            <label for="quality">Cantidad</label>
                            <input class="form-control-field" type="number">
                        </div>
                        <div class="column is-full is-marginless">
                            <button class="btn btn-default btn-outline"><i class="zmdi zmdi-shopping-cart"></i>
                                Agregar al carrito</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
 

    {{/each}}

    

         

